/* menu nav */
.cabecalho {
    display: flex;
}

.cabecalho__menu-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 3rem;
    margin-left: 1em;
    width: 8em;
}

.cabecalho__menu-nav--link:hover {
    cursor: pointer;
}

.cabecalho__home {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 2.5rem;
    margin-left: 78vw;
}

.cabecalho__home--item {
    margin-right: 2.1em;
}

.cabecalho__home--link:hover {
    cursor: pointer;
}

.cabecalho__menu-nav--item-logo {
    display: none;
}

@media screen and (min-width: 768px) {
    .cabecalho__fundo {
        height: 470px;
        width: 561px;
    }

    .cabecalho__menu-nav--item-logo {
        display: flex;
    }

    .cabecalho__menu-nav {
        margin: 1em 0 0 3em;
        width: 15em;
    }

    .cabecalho__home {
        margin-left: 85vw;
        top: 4rem;
    }

    .inicial__fundo {
        height: 42rem;
        width: 8.5rem;
    }
    
}

/* fundo lado direito */
.inicial__fundo {
    bottom: 4em;
    position: absolute;
    right: 0;
}

.fundo__lado-direto-none, .home-fundo__lado-direto {
    display: none;
    }

@media screen and (min-width: 768px) {
    .inicial__fundo {
        top: 20rem;
    }

    .inicial__fundo {
        display: block;
    }

    .home-fundo__lado-direto {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .home-fundo__lado-direto {
        top: 10rem;
        display: block;
        position: absolute;
        right: 0;
    }
}


/* fundo lado esquerdo */
.lado-esquerdo__fundo {
    position: absolute;
    top: 32rem;
    left: 0;
    z-index: 0;
}

@media screen and (min-width: 768px) {
    .lado-esquerdo__fundo {
        display: none;
    }
}


/* patas topo */
.cabecalho__ilustracao-patas {
    position: absolute;
    right: 0;
    top: 0;
}

.cabecalho__ilustracao-patas-maior768 {
    display: none;
}

@media screen and (min-width: 768px) {
    .cabecalho__ilustracao-patas {
        display: none;
    }
    
    .cabecalho__ilustracao-patas-maior768 {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
}

/* adopet logo azul */
.cabecalho__logo-azul {
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 15rem;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {

    .cabecalho__logo-azul {
        width: 16rem;
        top: 21rem;
    }

}