/*  main */
.login-main_esquecisenha {
    color: var(--rosa-fonte);
    font-size: 12px;
    font-weight: 300;
    margin-top: 1rem;
}

.foot__descer-login {
    margin-top: 36rem;
}


@media screen and (min-width: 768px) {
    .foot__descer-login {
        margin-top: 39rem;
    }
}
