.footer {
    background-color: var(--verde-rodape);
    height: 6em;
    width: 100%;
}

.footer__texto {
    align-content: center;
    color: var(--branco-fonte);
    display: flex;
    font-weight: 300;
    justify-content: center;
    padding-top: 2.5em;
} 

.footer__home {
    position: absolute;
    top: 145rem;
}

@media screen and (min-width: 768px) {
    .footer__home {
        top: 95rem;
    }
}

@media screen and (min-width: 1440px) {
    .footer__home {
        top: 63rem;
    }
}